// Подключаем шрифты

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
	font-family: "BebasNeueCyrillic";
	src: url("../fonts/ofont.ru_Bebas-Neue.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	}


// Обнуление: общие параметры
@import "null.scss";


// Оболочка
.wrapper {
    overflow: hidden;
	 position: relative;
    min-height: 100%;
    width: 100%;
	 background: linear-gradient(
315deg
, #ae320a 19.87%, #f75d2b 80.11%),#0a0e20;
    color: #fff;
}
.wrapper.fon-green{
	background: linear-gradient(
315deg
, #37c058 19.87%, #4bdb6d 80.11%),#0a0e20;
}
.wrapper.fon-yellow{
	background: linear-gradient(
	315deg
	, #ffc060 19.87%, #ffe79a 80.11%),#0a0e20;
		color: #000;
}
.wrapper.fon-lightGreen{
	background: linear-gradient(
315deg
, #8fbe15 19.87%, #aad50e 80.11%),#0a0e20;
}
//=========================================================>
.container-xxl{
	max-width: 1130px;
}
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 32px 0px 130px 0px;
	font-family: "Montserrat";
   font-style: normal;
	&__button{
		border: 1px #fff solid;
		font-size: 16px;
		line-height: 24px;
		padding: 11px 15px;
		cursor: pointer;
		border-radius: 6%;
		font-weight: 600;
	}
	&__logo{
		font-size: 26px;
		font-weight: 600;
		a{
			text-decoration: none;
			color: #fff;
		}
		a:hover {
			text-decoration: none;
			color: #fff;
	  }
	}
}
//=========================================================>

.page{
	padding: 0px 0px 184px 0px;
	display: flex;
	justify-content: space-between;
	&__info{
		font-family: "Montserrat";
	}
	&__title{
		max-width: 585px;
		font-weight: 700;
		font-size: 46px;
		line-height: 54px;
		margin-bottom: 18px;
	}
	&__info-item{
		max-width: 491px;
		h2{
			font-style: normal;
			font-weight: 600;
			font-size: 20px;
			line-height: 28px;
			margin: 16px 0px 0px 0px;
		}
		p{
			font-size: 20px;
			line-height: 28px;
			opacity: 0.8;
			padding: 0;
			margin: 0;
		}
	}
}


//============================================>
.svg{
	position: absolute;
		right: 0;
		bottom: 0;
	&__orange{
		bottom: -143px;
   }
	&__green{
		opacity: 0;
	}
	&__yellow{
		opacity: 0;
	}
	&__lightGreen{
		opacity: 0;
	}
}

//================================================>

//.carousel.pointer-event {
//	width: 351px;
//}
.carousel-item{
	transition: all 1s ease 0s;
	&__title{
		font-family: "Montserrat";
		font-weight: 500;
		font-style: normal;
		font-size: 20px;
		line-height: 28px;
	}
	&__p{
		font-family: "BebasNeueCyrillic";
		font-style: normal;
		font-size: 96px;
		font-weight: 400;
		line-height: 100%;
		letter-spacing: 0.02em;
		text-transform: uppercase;
	}
	&__block{
		display: flex;
	}
}

.carousel{
	position: relative;
	width: 351px;
}
.carousel-indicators.carousel-indicators{
	position: absolute;
	top: -40px;
	left: 0;
	justify-content: start;
	margin: 0;
}

.carousel-indicators.carousel-indicators li{
		background: #fff;
		border: 0;
		opacity: 1;
		border-radius: 50%;
		width: 12px;
		height: 12px;
		cursor: pointer;
		transition: all 1s ease 0s;
}
.carousel-indicators li.active{
	background: #000;
}